<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerdflix</title>
</head>
<body>
    <h1>Welcome to Nerdflix!</h1>
    
    
    <form action="/search" method="GET">
        <input type="text" name="title" placeholder="movie title">
        <input type="submit" value="Search">
    </form>
    <form action="/create" method="POST">
        <input type="text" name="title" placeholder="movie title">
        <input type="submit" value="Create">
    </form>
</body>
</html>